<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container-fluid" id="schedule" style="display: none" th:fragment="createEvent">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Create New Request
            </h1>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Attributes</th>
            <th>Values</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>UID</td>
            <!--<td><input name="union" id="union_ID" type="text"/></td>-->

            <td th:text="${officer.uid}"></td>

        </tr>

        <tr>
            <td>Start Time</td>
            <td><input name="startTime" id="startTime_ID" type="date"/></td>
        </tr>
        <tr>
            <td>End Time</td>
            <td><input name="endTime" id="endTime_ID" type="date"/></td>
        </tr>

        <tr>
            <td>Union</td>
            <!--<td><input name="union" id="union_ID" type="text"/></td>-->

            <td th:text="${officer.union.name}"></td>

        </tr>

        <tr>
            <td>Type</td>
            <td><select class="form-control" name="type" id="individualRequestType"
                        th:if="${officer.permissionGroup.id} == 7">
                <option value=" " selected="selected" disabled="disabled"></option>
                <option value="Vacation"> Vacation</option>
                <option value="Leave"> Leave</option>
                <option value="Decline to answer"> Decline to answer</option>
            </select>
                <select class="form-control" name="type" id="individualRequestType"
                        th:if="${officer.permissionGroup.id} == 6">
                    <option value=" " selected="selected" disabled="disabled"></option>
                    <option value="Vacation"> Vacation</option>
                    <option value="Training"> Training</option>
                    <option value="Event"> Event</option>
                    <option value="Comp"> Comp</option>
                </select></td>

        </tr>
        <tr>
            <td>Description</td>
            <td><input name="description" id="event_description" type="text" size="100"/></td>
        </tr>

        <tr>
            <td>
                <button id="submit_Event" type="button" class="btn btn-success">Submit
                </button>
            </td>
            <td>
                <button id="cancel_Event" type="button" class="btn btn-cancel">Cancel
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</html>