<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid" id="edit_group_schedule" style="display: none" th:fragment="editGroupSchedule">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Group Schedule Management
            </h1>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Edit Group Schedule</h4>
        </div>
        <div class="panel-body">
            <input type="hidden" id="edit_id"/>

            <div class="row myborder"><div id="edit_group_message"><p style="color:red"></p ></div>
                <div class="col-sm-2"><h4>Start Time</h4></div>
                <div class="col-sm-7"><input name="startTime" id="edit_start_time_group" type="text"
                                             placeholder="MM/DD/YYYY"/></div>
            </div>
            <div class="row myborder">
                <div class="col-sm-2"><h4>End Time</h4></div>
                <div class="col-sm-7"><input name="endTime" id="edit_end_time_group" type="text"
                                             placeholder="MM/DD/YYYY"/></div>
            </div>
            <div class="row myborder">
                <div class="col-sm-2"><h4>Description</h4></div>
                <div class="col-sm-7"><input name="description" id="edit_group_schedule_description" type="text"
                                             size="40"/></div>
            </div>
            <div class="row myborder">
                <div class="col-sm-2"><h4>Shift Type</h4></div>
                <div class="col-sm-7"><select class="form-control" name="type" id="edit_shift_type">
                    <option value=" " selected="selected" disabled="disabled"></option>
                    <option th:each="shift:${shiftTypeList}" th:value="${shift.shiftName}"
                            th:text="${shift.shiftName}"></option>
                </select></div>
            </div>
            <div class="row myborder">
                <div class="col-sm-2"><h4>Select Staff</h4></div>
                <div class="col-sm-9">
                    <table class="table table-hover table-fixed" id="re_edit_user_list_table">
                        <thead>
                        <tr>

                            <th class="col-xs-1">Selected</th>
                            <th class="col-xs-2 text-center">UID</th>
                            <th class="col-xs-3 text-right">Last Name</th>
                            <th class="col-xs-3 text-center">First Name</th>
                            <th class="col-xs-3 text-center">Title</th>
                            <th class="col-xs-3">Gender</th>
                            <th class="col-xs-1 text-right">Seniority</th>


                        </tr>

                        </thead>
                        <tbody>
                        <tr th:each="officer:${officerList}" id="edit_group_officers">

                            <td class="col-xs-2 text-center"><input class="checkbox" type="checkbox"
                                                                    th:value="${officer.uid}"/></td>
                            <td class="col-xs-2" th:text="${officer.uid}"></td>
                            <td class="col-xs-2" th:text="${officer.lastName}"></td>
                            <td class="col-xs-2" th:text="${officer.firstName}"></td>
                            <td class="col-xs-2" th:text="${officer.title}"></td>
                            <td class="col-xs-2" th:text="${officer.gender}"></td>
                            <td class="col-xs-1" th:text="${officer.seniority}"></td>


                        </tr>
                        </tbody>
                        <tfoot>
                        <tr id="edit_select_all">
                            <td class="col-xs-3"><input type="checkbox"/> Select All</td>

                        </tr>
                        </tfoot>

                    </table>
                </div>
            </div>
            <div class="row myborder">
                <div class="col-sm-2">
                    <button id="re_submit_group_event" type="button" class="btn btn-success">Submit
                    </button>
                </div>
                <div class="col-sm-9 text-left">
                    <button id="re_cancel_group_event" type="button" class="btn btn-cancel">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


</html>
