<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid" id="editEvent" style="display: none" th:fragment="editEvent">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Edit Pending Request
            </h1>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <input id="currentEditId" hidden="hidden" />
        <thead>
        <tr>
            <th>Attributes</th>
            <th>Values</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>UID</td>

            <td id="EditRequestUid"></td>

        </tr>
        <tr>
            <td>Start Time</td>
            <td>
                <input class="form-control" name="startTime" id="edit_StartTime_ID" type="text"
                       placeholder="MM/DD/YYYY"/>
            </td>
        </tr>
        <tr>
            <td>End Time</td>
            <td>
                <input class="form-control" name="endTime" id="edit_EndTime_ID" type="text" placeholder="MM/DD/YYYY"/>
            </td>
        </tr>

        <tr>
            <td>Union</td>
            <td th:text="${officer.union.name}"></td>

        </tr>

        <tr>
            <td>Shift Off</td>
            <td id="edit_shift_off_ID">
            </td>
        </tr>

        <tr>
            <td>Event Type</td>
            <td id="selected_request_type">
            </td>
        </tr>

        <tr th:if="${officer.permissionGroup.id} != 7 AND ${officer.permissionGroup.id} != 8">
            <td>Status</td>
            <td><select class="form-control" name="status" id="editEventStatus">
                <option value="declined">Decline</option>
                <option value="approved">Approve</option>
            </select>

            </td>

        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input id="edit_event_description" type="text" size="100"/>
            </td>
        </tr>

        <tr>
            <td>
                <button id="submit_Edit_Event" type="button" class="btn btn-success">Submit
                </button>
            </td>
            <td>
                <button id="cancel_Edit_Event" type="button" class="btn btn-cancel">Cancel
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</html>