<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid" id="editEvent" style="display: none" th:fragment="editEvent">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Edit Pending Request
            </h1>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Attributes</th>
            <th>Values</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>UID</td>

            <td th:text="${officer.uid}"></td>

        </tr>

        <tr>
            <td>Start Time</td>
            <td><input name="startTime" id="edit_StartTime_ID" type="date"/></td>
        </tr>
        <tr>
            <td>End Timeme</td>
            <td><input name="endTime" id="edit_EndTime_ID" type="date"/></td>
        </tr>

        <tr>
            <td>Union</td>

            <td th:text="${officer.union.name}"></td>

        </tr>

        <tr>
            <td>Type</td>
            <td><select class="form-control" name="type" id="edit_individualRequestType"
                        th:if="${officer.permissionGroup} == 'Officer'">
                <option value=" " selected="selected" disabled="disabled"></option>
                <option value="Vacation"> Vacation</option>
                <option value="Leave"> Leave</option>
                <option value="Decline to answer"> Decline to answer</option>
            </select>
                <select class="form-control" name="type" id="edit_individualRequestType"
                        th:if="${officer.permissionGroup} == 'Staffing Administrator'">
                    <option value=" " selected="selected" disabled="disabled"></option>
                    <option value="Vacation"> Vacation</option>
                    <option value="Training"> Training</option>
                    <option value="Event"> Event</option>
                    <option value="Comp"> Comp</option>
                </select></td>

        </tr>
        <tr th:if="${officer.permissionGroup} == 'Staffing Administrator'">
            <td>Status</td>
            <td><select class="form-control" name="status" id="editEventStatus">
                <option value="declilned">Decline</option>
                <option value="approved">Approve</option>
            </select>

            </td>

        </tr>
        <tr>
            <td>Description</td>
            <td th:switch="${officer.permissionGroup}">
                <input th:case="'Officer'" id="edit_event_description" type="text" size="100"/>
                <input th:case="'Staffing Administrator'" id="edit_event_description" type="text" size="100"
                       readonly="readonly"/>
            </td>
        </tr>

        <tr>
            <td>
                <button id="submit_Edit_Event" type="button" class="btn btn-success">Submit
                </button>
            </td>
            <td>
                <button id="cancel_Edit_Event" type="button" class="btn btn-cancel">Cancel
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</html>