<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid" id="group_schedule" style="display: none" th:fragment="groupScheduleManagement">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Group Schedule Management
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Schedule List</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-bordered" id="group_schedule_list_table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Shift Type</th>
                            <th>Number of Officer</th>
                            <th>Description</th>
                            <!--<th>Status</th>-->
                            <th>Operation</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="schedule:${groupScheduleList}">
                            <td th:text="${schedule.id}"></td>
                            <td th:text="${#calendars.format(schedule.startTime,'MM/dd/yyyy')}"></td>
                            <td th:text="${#calendars.format(schedule.endTime,'MM/dd/yyyy')}"></td>
                            <td th:text="${schedule.shiftType.shiftName}"></td>
                            <td th:text="${schedule.selectedOfficer}"></td>
                            <td th:text="${schedule.description}"></td>
                            <!--<td th:text="${schedule.scheduleStatus}"></td>-->

                            <td><a href="javascript:void(0);" th:if="${schedule.endTime gt currentTime}" th:onclick="'javascript:changeToEditGroupSchedule('+${schedule.id}+');'" class="btn btn-xs btn-default">Edit</a>
                                <a href="javascript:void(0);" th:if="${schedule.startTime gt currentTime}" th:onclick="'javascript:deleteGroupSchedule('+${schedule.id}+');$(this).closest(\'tr\').remove();'" class="btn btn-xs btn-default">Delete</a>
                            </td>
                        </tr>
                                            </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
    <div class="panel panel-default myborder">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Create Group Schedule</h4>
                    </div>
                    <div class="panel-body">
                        <div id="group_message"><p style="color:red"></p></div>
        <div class="row myborder">
            <div class="col-sm-2"><h4>Description</h4></div>
            <div class="col-sm-7"><input name="description" id="group_schedule_description" type="text" size="40"/></div>
        </div>
        <div class="row myborder">
            <div class="col-sm-2"><h4>Shift Type</h4></div>
            <div class="col-sm-7"><select class="form-control" name="type" id="shift_type">
                <option value=" " selected="selected" disabled="disabled"></option>
                <option th:each="shift:${shiftTypeList}" th:value="${shift.shiftName}" th:text="${shift.shiftName}"></option>
            </select></div>
        </div>
                        <div class="row myborder">
        <div class="col-sm-2"><h4>Select Staff</h4></div>
        <div class="col-sm-9">
            <table class="table table-hover table-fixed" id="user_list_table">
                <thead>
                <tr>
                    <th class="col-xs-1">Selected</th>
                    <th class="col-xs-2 text-center">UID</th>
                    <th class="col-xs-3 text-right">Last Name</th>
                    <th class="col-xs-3 text-center">First Name</th>
                    <th class="col-xs-3 text-center">Title</th>
                    <th class="col-xs-3">Gender</th>
                    <th class="col-xs-1 text-right">Seniority</th>


                </tr>

                </thead>
                <tbody>
                <tr th:each="officer:${officerList}" id="group_officers">

                    <td class="col-xs-2 text-center"><input class="checkbox" type="checkbox" th:value="${officer.uid}"/></td>
                    <td class="col-xs-2" th:text="${officer.uid}"></td>
                    <td class="col-xs-2" th:text="${officer.lastName}"></td>
                    <td class="col-xs-2" th:text="${officer.firstName}"></td>
                    <td class="col-xs-2" th:text="${officer.title}"></td>
                    <td class="col-xs-2" th:text="${officer.gender}"></td>
                    <td class="col-xs-1" th:text="${officer.seniority}"></td>

                </tr>

                </tbody>
                <tfoot>
                <tr id="select_all">
                    <td class="col-xs-3"><input type="checkbox" />  Select All</td>

                </tr>
                </tfoot>
            </table>

        </div></div>
                        <div id="group-time-range">

                            <div class="row myborder">
                                <div class="col-sm-2"><h4>Start Time</h4></div>
                                <div class="col-sm-7"><input name="startTime" id="start_time_group" type="text" placeholder="MM/DD/YYYY"/></div>
                            </div>
                            <div class="row myborder">
                                <div class="col-sm-2"><h4>End Time</h4></div>
                                <div class="col-sm-7"><input name="endTime" id="end_time_group" type="text" placeholder="MM/DD/YYYY"/>
                                <button id="add_group_time" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button><small class="form-text text-muted"> You may add multiple time ranges</small></div>
                            </div>
                            <div id="selected-time-ranges" class="row myborder">
                            </div>

                        </div>
    <div id="group-submit-buttons" class="row myborder">
        <div class="col-sm-2">
            <button id="submit_group_event" type="button" class="btn btn-success">Submit
            </button>
        </div>
        <div class="col-sm-9 text-left">
            <button id="cancel_group_event" type="button" class="btn btn-cancel">Cancel
            </button>
        </div>
    </div>
                    </div>
    </div></div>
</div></div>
    <!-- /.row -->


</html>
