<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid" id="permission_group" style="display: none" th:fragment="permissionGroupPage">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Permission Group Management
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> User List</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover" id="user_list_table">
                        <thead>
                        <tr>
                            <th>UID</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Title</th>
                            <th>Gender</th>
                            <th>Seniority</th>
                            <th>Permission Group</th>
                            <th>Update Change</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="officer:${officerList}">
                            <td th:text="${officer.uid}"></td>
                            <td th:text="${officer.lastName}"></td>
                            <td th:text="${officer.firstName}"></td>
                            <td th:text="${officer.title}"></td>
                            <td th:text="${officer.gender}"></td>
                            <td th:text="${officer.seniority}"></td>
                            <td>
                                <select name="pgSelect" th:id="'pageSelect'+${officer.uid}" class="form-control">
                                    <option th:text="${officer.permissionGroup}" selected="selected"
                                            disabled="disabled"></option>
                                    <option>Master Administrator</option>
                                    <option>Master Technician</option>
                                    <option>Cross Administrator</option>
                                    <option>Training Administrator</option>
                                    <option>Technical Administrator</option>
                                    <option>Staffing Administrator</option>
                                    <option>Leadership</option>
                                    <option>Staff Member I</option>
                                    <option>Staff Member II</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-success" type="button"
                                        th:onclick="'javascript:updatePG(\''+${officer.uid}+'\')'">Submit
                                </button>
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <!-- /.row -->

</div>

</html>
