<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid" id="staff_management" style="display: none" th:fragment="staffManagement">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Staff Management
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> User List</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover" id="user_list_table">
                        <thead>
                        <tr>
                            <th>Badge Number</th>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Title</th>
                            <th>Gender</th>
                            <th>Seniority</th>
                            <th>Permission Group</th>
                            <th>Union</th>
                            <th>Hire Date</th>
                            <th>Promotion Date</th>
                            <th>Trainer ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="officer:${officerList}">
                            <td th:text="${officer.badgeNum}"></td>
                            <td th:text="${officer.lastName}"></td>
                            <td th:text="${officer.firstName}"></td>
                            <td th:text="${officer.title}"></td>
                            <td th:text="${officer.gender}"></td>
                            <td th:text="${officer.seniority}"></td>
                            <td th:text="${officer.permissionGroup.role}"></td>
                            <td th:text="${officer.union.name}"></td>
                            <td th:text="${#calendars.format(officer.hireDate,'MM/dd/yyyy')} "></td>
                            <td th:text="${#calendars.format(officer.promotionDate,'MM/dd/yyyy')} "></td>
                            <td th:if="${officer.trainer} == null"></td>
                            <td th:if="${officer.trainer} != null" th:text="${officer.trainer.uid}"></td>
                        </tr>
                        </tbody>

                    </table>
                    <div class="text-right">
                        <div th:if="${officer.permissionGroup.id} == 1">
                            <a href="javascript:void(0);" onclick="newUserForm()">Add New User <i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>

                    <div th:replace="addUser :: addUser"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>

</html>
