<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="container-fluid" id="time_cycle" th:fragment="timeCyclePage">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Time Cycle Configuration
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="panel panel-default" th:if="${activatedTimeCycle != null}">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Time Cycle</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped" id="timeCycleList">
                            <thead>
                            <tr>
                                <th>TimeCycle ID</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Activate/Deactivate</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${activatedTimeCycle} != null">
                                <td th:text="${activatedTimeCycle.id}"></td>
                                <td th:text="${#calendars.format(activatedTimeCycle.startDate,'yyyy-MM-dd')}"></td>
                                <td th:text="${#calendars.format(activatedTimeCycle.endDate,'yyyy-MM-dd')}"></td>
                                <td>
                                    <button id="deactivate_time_cycle" type="button"
                                            th:onclick="'javascript:deactivate_time_cycle('+${activatedTimeCycle.id}+');'"
                                            class="btn btn-danger">Deactivate
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="panel panel-default" id="configure_time_cycle_div" th:if="${activatedTimeCycle == null}">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Configure Time Cycle</h3>
                </div>
                <div class="panel-body ">
                    <div id="add_time_cycle">
                        <div class="col-lg-5">Start Date: <input id="startDate" type="date" name="startDate"/></div>
                        <div class="col-lg-5"> End Date: <input type="date" id="endDate" name="endDate"/></div>
                        <div class="col-lg-1">
                            <button type="button" onclick="add_time_cycle()" class="btn btn-success"> Submit
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-2"></div>
        <!-- /.row -->

    </div>
</div>
</html>