<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="userSideBar">
<li>
    <a href="javascript:void(0)" onclick="changeToRequest()"><i class="fa fa-fw fa-bar-chart-o"></i>
        Pending Requests</a>
</li>
<li>
    <a href="javascript:void(0)" onclick="changeToCalendar()"><i class="fa fa-fw fa-table"></i> Current
        Schedule </a>
</li>
<li>
    <a href="javascript:void(0)" onclick="changeToCreateRequest()"><i class="fa fa-fw fa-file-o"></i>
        Create Special Request </a>
</li>
<!--<li>-->
    <!--<a href="javascript:void(0)" data-toggle="collapse"-->
       <!--data-target="#scheduledetails"><i-->
            <!--class="fa fa-fw fa-list-alt"></i> Schedule Details<i class="fa fa-fw fa-caret-down"></i></a>-->
    <!--<ul id="scheduledetails" class="collapse">-->
        <!--<li>-->
            <!--<a href="javascript:void(0)"><i-->
                    <!--class="fa fa-fw fa-info"></i> Work Day</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="javascript:void(0)"><i-->
                    <!--class="fa fa-fw fa-info"></i> Vocation </a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="javascript:void(0)"> <i-->
                    <!--class="fa fa-fw fa-info"></i> Train </a>-->
        <!--</li>-->

    <!--</ul>-->
<!--</li>-->
</html>